body {
  /* font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; */
  font-family: "Rock Salt", cursive;
  margin: 0;
  /* color: #333; */
  color: rgba(232, 211, 162, 0.75);
  background-color: rgb(88, 79, 110);
  text-align: center;
}

/* h1, h2 {
  font-size: 1.5em;
  font-weight: normal;
} */

header {
  background-color: #1abc9cd0;
  font-family: "Rock Salt", cursive;
  color: rgba(255, 255, 255, 0.815);
  font-weight: normal;
  font-size: 2rem;
}

.main {
  margin: 20px;
}

footer {
  text-align: center;
  padding-bottom: 10px;
}